pipeline/pl_final_full_load_backup_dev.json
{
	"name": "pl_final_full_load_backup_dev",
	"properties": {
		"activities": [
			{
				"name": "ForEach Full Load to Source DB",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Source SAP Files from ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Source SAP Files from ADLS').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from source sap files from ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE dbo.@{replace(item().name, '.xlsx', '')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_sap_source_files",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_staging_sql_sap_tables_full_load",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "@replace(item().name, '.xlsx', '')"
									}
								}
							]
						},
						{
							"name": "Copy data froom stage DB to target db",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data from source sap files from ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE dbo.@{replace(item().name, '.xlsx', '')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_sql_stage_db_full_load",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": {
											"value": "@replace(item().name, '.xlsx', '')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_sql_db",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "@replace(item().name, '.xlsx', '')"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata Source SAP Files from ADLS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sap_source_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"Test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-20T06:27:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}