pipeline/pl_increamental_copy_sql.json
{
	"name": "pl_increamental_copy_sql",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableNames",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Watermark Lookup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(Watermarkvalue) AS Watermarkvalue FROM watermarktable WHERE tableName = '@{item().tableName}';",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureWatermarkTable",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Main tables Lookup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(last_updated) AS NewWaterMarkValue FROM @{item().tableName}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlSourceTables",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Increamental Refresh Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Watermark Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Main tables Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM\n@{item().tableName}\nWHERE \n@{item().waterMarkColumn} > '@{formatDateTime(activity('Watermark Lookup').output.firstRow.watermarkValue,'yyyy-MM-ddTHH:mm:ss')}'\nAND\n@{item().waterMarkColumn} <= '@{formatDateTime(activity('Main tables Lookup').output.firstRow.NewWaterMarkValue,'yyyy-MM-ddTHH:mm:ss')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSourceSqlIncreamentalCoptDataset",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableCopyTarget",
									"type": "DatasetReference",
									"parameters": {
										"Schemaname": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure to update the watermark table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Increamental Refresh Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"last_updated": {
										"value": {
											"value": "@activity('Main tables Lookup').output.firstRow.NewWaterMarkValue",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tableName": {
										"value": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlSourceDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableNames": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "iplteams",
						"tableSchemaName": "dbo",
						"waterMarkColumn": "last_updated"
					},
					{
						"tableName": "employees",
						"tableSchemaName": "dbo",
						"waterMarkColumn": "last_updated"
					},
					{
						"tableName": "salesitems",
						"tableSchemaName": "dbo",
						"waterMarkColumn": "last_updated"
					}
				]
			}
		},
		"folder": {
			"name": "Others"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-19T11:16:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}